<h1>Rants-index</h1>
<%=link_to "Home", topics_path%>
<table>
  <%@rants.each do |rant| %>
    <tr><td><%=rant.value%></td><td><%=link_to "Delete", rant, method: :delete, :rant => rant.id%></td></tr>
  <% end %>
</table>

<%= form_for :rant, url: {action: "create"} do |r| %>
  New Rant : <%= r.text_field :value%>
  <%= r.submit "Rant!"%>
<% end %>
